
h4 {
  font-size: 13px;
  font-family: "Arvo", serif;
  font-weight: 200;
  padding-top: 10px;
  margin: 0;
}
h2 a{
    color: #ff4422;
  font-family: TheNextWeb;
  font-weight: 900;
}
h2 a:hover{
    color: black;
}
ul {
  margin-left: -5px;
  list-style: none;
}

ul li {
  margin-left: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
ul li::before {
  content: "\2022";
  color: red;
  display: inline;
  margin-left: -20px;
  padding-right: 10px;
}

li a {
    text-decoration: none;
    color: #aaa;
}

li a:hover{
    color: #555;
}
.article-section img {
    display: inline-block;
    width: 13px;
}

.article-section {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  font-family: PublicSans;
  font-size: 13px;
  line-height: 20px;
}
.article-section article {
  max-width: 370px;
  margin: 10px;
  overflow: hidden;
}

.red-article {
    min-height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
    font-family: TheNextWeb;
    font-size: small;
    background-color: #fff4f2;
    padding-left: 10px;
}

.red-article div{
    width: 75%;
}

.apps-section{
  background-image: url("../images/family.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 10px;
  color: white;
}

.netflix-link{
  background-image: url("../images/Netflix-Featured_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}


.article-title {
  font-weight: 600;
  font-family: TheNextWeb;
  margin: 0;
}

span {
  font-size: 12px;
}


.gear-section{   
  background-image: url("../images/appleglass.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white; 
}
.google-link{
  background-image: url("../images/googletalk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}

.tech-section{
    background-image: url("../images/elon_vader-368x276.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white; 
}

.computer-link{
  background-image: url("../images/computereye.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}
.creative-section {
  background-image: url("../images/emoguy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}

.number98-link{
  background-image: url("../images/article-image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}

.podium-section {
  background-image: url("../images/meme.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}
.greta-link{
  background-image: url("../images/greta.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}

.insight-section {
  background-image: url("../images/productivityimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}
.sadboy-link{
  background-image: url("../images/boy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}
.launch-section {
  background-image: url("../images/phones.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}

.JioMart-link{
  background-image: url("../images/JioMart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}

.distract-section{
  background-image: url("../images/community.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}

.twitch-link{
  background-image: url("../images/twitch-e1491600114230.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100px;
  min-height: 100px;
}

@media only screen and (max-width: 800px) {
   .article-section{
       width: 100%; 
   } 
   .article-section article {
        min-width: 90%;
        margin: auto;
    }
}

@media (max-width: 1200px) and (min-width: 800px){
   .article-section{
       margin: auto;
       justify-content: center;
   } 
   .article-section article {
        max-width: 40%;
        margin: 10px;
    }
}


