.latest-deals {
  display: flex;
  max-width: 1152px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.latest-deals div {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin: 0 auto;
  height: 300px;
  align-items: center;
}

.latest-deals img {
  width: 260px;
  height: 200px;
}

.latest-deals p {
  font-size: 16px;
  font-family: "Arvo", serif;
  font-weight: 600;

  margin-left: 14px;
}

.latest-deals span {
  line-height: 15px;
  color: #aaa;
  font-size: 13px;
  align-self: flex-start;
}

.top-footer {
  background-color: #131313;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.topfooter-top a {
  display: inline-block;
  border-radius: 500px;
  width: 35px;
  height: 35px;
  background-color: gray;
  margin: 0 5px 0 5px;
  background-color: #333;
  text-align: center;
}

.topfooter-top a:hover {
  background-color: #131313;
  border: 2px solid #333;
}

.topfooter-top img {
  width: 15px;
  position: relative;
  top: 30%;
}

.topfooter-bottom a {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  font-family: PublicSans;
  margin: 0 5px 0 5px;
}

.topfooter-bottom a:hover {
  color: #fff;
}

.bottom-footer {
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-footer p {
  color: #aaa;
  font-family: PublicSans;
  font-size: 13px;
}

.tnw {
  width: 40px;
}

.stackpath {
  width: 65px;
}

.bottom-footer span {
  color: red;
}
