.latest-deals {
  display: flex;
  max-width: 1152px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.latest-deals div {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin: 20px auto;
  align-items: center;
}

.latest-deals img {
  height: 200px;
  object-fit: cover;
  object-position: center center;
}

.latest-deals p {
  font-size: 1em;
  line-height: 20px;
  font-family: "Arvo", serif;
  font-weight: 600;
  padding-right: 20px;
  margin-left: 14px;
}

.latest-deals span {
  line-height: 15px;
  color: #aaa;
  font-size: 12px;
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.top-footer {
  background-color: #131313;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.topfooter-top a {
  display: inline-block;
  border-radius: 500px;
  width: 35px;
  height: 35px;
  margin: 0 5px 0 5px;
  background-color: #333;
  border: 2px solid #333;
}

.topfooter-bottom a {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  font-family: PublicSans, Courier, monospace;
  margin: 0 5px 0 5px;
}

.topfooter-top a:hover {
  background-color: #131313;
  border: 2px solid #333;
}

.topfooter-top img {
  width: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topfooter-bottom a:hover {
  color: #fff;
}

.bottom-footer {
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-footer p {
  color: #aaa;
  font-family: PublicSans, Courier, monospace;
  font-size: 13px;
}

.tnw {
  width: 40px;
}

.stackpath {
  width: 65px;
}

.bottom-footer span {
  color: red;
}
