.options {
  width: 50px;
  display: none;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .tnw-logo {
    background-color: red;
    display: block;
    width: 100px;
  }

  .tnw-logo img {
    width: 70px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-container {
    flex-grow: 10;
  }

  .neural {
    display: none;
  }
  .article-section {
    margin: auto;
    justify-content: center;
  }
  .article-section article {
    max-width: 40%;
    margin: 10px;
  }

  .logo-and-date {
    display: none;
  }

  .one {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .principal-container {
    font-size: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }
  .tnw-logo {
    background-color: red;
    display: block;
    width: 100px;
  }

  .tnw-logo img {
    width: 70px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .article-section {
    width: 100%;
  }
  .article-section article {
    min-width: 90%;
    margin: auto;
  }
  .bottom-nav div {
    display: none;
  }
  .top-nav {
    display: none;
    height: 0;
  }
  .options {
    display: inline;
  }
  header p {
    height: 50px;
    text-align: center;
  }

  .principal-container {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-template-areas:
      "one"
      "two"
      "three";
    gap: 10px;
    margin: 0 10px 40px 10px;
    font-size: 50px;
  }
  .one,
  .two,
  .three {
    height: 250px;
  }
  .logo-and-date {
    display: none;
  }

  .principal-container {
    font-size: 40px;
  }

  .one {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 0.5em;
  }

  .latest-news {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .latest-news article {
    flex-direction: row;
    width: 1000px;
    background-color: red;
    border: 1px solid;
    height: 100px;
    align-items: initial;
    margin-left: 0;
    margin-right: 0;
  }

  .latest-news img {
    max-width: 60px;
    background-color: red;
    height: 50px;
    object-fit: cover;
    object-position: center center;
  }
}
