.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  height: 32px;
  align-items: center;
}

.top-nav a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0 10px;
  font-size: 14px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fefefe;
  height: 50px;
  align-items: center;
}

.bottom-nav a {
  text-decoration: none;
  color: #aaa;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 10px;
}

.bottom-nav img {
  border-left: 1px solid;
  border-color: #ebebeb;
  padding: 13px;
}

header p {
  background-color: #ffdd33;
  margin-top: 0;
  padding: 9px;
  height: 18px;
}

header p img {
  width: 10px;
}

.principal-container {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-auto-rows: minmax(100px auto);
  grid-template-areas:
    "one two"
    "one three";
    gap:10px;
  margin: 0px 10px;
}

.one {
  grid-area: one;
  background-image: url("../images/sadblockchain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 65vh;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.one img {
  width: 400px;
  margin-left: 20px;
}
.logo-and-date{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 20px;
}

.one p {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 900;
  margin: 15px;
}
.one a {
  margin: 15px;
  text-decoration: none;
  color: #FFFFFF;
}
.two {
  grid-area: two;
  background-image: url("../images/Sprint_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}

.three {
  grid-area: three;
  background-image: url("../images/coronavirus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}

.two p, .three p{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 10px;
  margin: 10px;
  color: #ebebeb;
}

/*LASTEST NEWS*/
h2 {
  color: #FF4422;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.latest-news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: auto;
}

.latest-news article {
  max-width: 288px; 
  margin: auto;
}

.latest-news img{
  max-width: 260px;
}


