@font-face{
    font-family: TheNextWeb;
    src: url(../styles/OPTIChampionBold.otf);
}

@font-face{
    font-family: PublicSans;
    src: url(../styles/PublicSans[wght].ttf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  height: 32px;
  align-items: center;
}

.top-nav a {
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0 10px;
  font-size: 14px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fefefe;
  height: 50px;
  align-items: center;
}

.bottom-nav a {
  text-decoration: none;
  color: #aaa;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 10px;
}

.bottom-nav img {
  border-left: 1px solid;
  border-color: #ebebeb;
  padding: 13px;
}

header{
  position: sticky;
  top: 0px;
  width: 100%;
}
header p {
  background-color: #ffdd33;
  margin: 0;
  padding: 9px;
  height: 35px;
}

header p img {
  width: 10px;
}

.principal-container {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-auto-rows: minmax(100px auto);
  grid-template-areas:
    "one two"
    "one three";
  gap: 10px;
  margin: 0 10px 40px 10px;
}

.one {
  grid-area: one;
  background-image: url("../images/sadblockchain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 65vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one img {
  width: 400px;
  margin-left: 20px;
}
.logo-and-date {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 20px;
}

.one p {
  font-family: TheNextWeb;
  font-size: 50px;
  margin: 15px;
}
.one a {
  margin: 15px;
  text-decoration: none;
  color: #ffffff;
}
.two {
  grid-area: two;
  background-image: url("../images/Sprint_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}

.three {
  grid-area: three;
  background-image: url("../images/coronavirus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}

.two p,
.three p {
  font-family: TheNextWeb;
  font-weight: 900;
  font-size: 22px;
  padding-bottom: 10px;
  margin: 10px;
  color: #ebebeb;
}

/*LASTEST NEWS*/
h2 {
  max-width: 1152px;
  margin: 0 auto 20px;
  padding-left: 20px; 
}

.latest-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: auto;
}

.latest-news article {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  margin: 0 auto;
  height: 300px;
  align-items: center;
}

.latest-news img {
  max-width: 260px;
  background-color: red;
  height: 150px;
}

.latest-news p {
  font-size: 16px;
  font-family: "Arvo", serif;
  font-weight: 600;
  padding-right: 20px;
  margin-left: 14px;
}

.latest-news span {
  line-height: 15px;
  color: #aaa;
  font-size: 13px;
  align-self: flex-start;
}


/*FUNDING CONTAINER SECTION*/

.funding-container {
  display: flex;
  max-width: 1152px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}


.funding-container article {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 270px;
 
}

h3
{
  color: #ebebeb;
  font-family: TheNextWeb;
}
.top-funding1{
  background-color: #ff4422;
  height: 40px;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.top-funding2 {
  height: 60px;
  background-color: #fbe7e5;
  padding-left: 80px;
}

.price{
  padding-top: 10px;
  font-family: TheNextWeb;
  font-size:15px;
}

.funding-container{
  font-family:PublicSans ;
}
.middle-funding {
  width: 100%;
  border-bottom: 1px solid rgba(255,68,34,.25);
  font-size: small;
  background-color: #fffaf8;
  display: flex;
  height: 90px;
  padding: 10px 0;
  flex-direction: column;
  justify-content: space-evenly;
}

.middle-funding img {
  width: 15px;
  position: relative;
  top:2px;
  margin: 0 10px;
}

.bottom-funding{
  font-size: small;
  background-color: #fffaf8;
  color: #555555;
  padding: 10px;
}

.funding-img{
  position: absolute;
  width: 60px;
  margin: 10px;
}

.funding-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin: 20px auto;
}

.funding-title-red{
  color: #ff4422;
  font-family: TheNextWeb;
  font-weight: 900;
  font-size: 20px;
}
.funding-links{
  color: #ff4422;
  font-family: PublicSans;
}



